<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Footer.css"> <!-- Link to the CSS file -->
    <title>Footer Example</title>
</head>

<body>
    <footer class="footer">
        <div class="footer-copyright"> &copy; Copyright 2024</div>
        <div class="footer-social">
            <h5>Follow Us</h5>
            <ul class="social-list">
                <li class="social-item">
                    <a href="https://www.facebook.com" class="social-link" target="_blank">
                        <img src="../img/facebook.png" alt="Facebook" class="social-icon" /> Facebook
                    </a>
                </li>
                <li class="social-item">
                    <a href="https://www.instagram.com" class="social-link" target="_blank">
                        <img src="../img/instagram.png" alt="Instagram" class="social-icon" /> Instagram
                    </a>
                </li>
                <li class="social-item">
                    <a href="https://www.linkedin.com" class="social-link" target="_blank">
                        <img src="../img/linkedin.png" alt="LinkedIn" class="social-icon" /> LinkedIn
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-address">
            <h5>Address</h5>
            <span class="address-item">
                <img src="../img/location.png" alt="Location" class="address-icon" /> Transport Near SBI Bank Pune-44
            </span><br />
            <span class="address-item">
                <img src="../img/phone.png" alt="Phone" class="address-icon" /> 0123456789
            </span><br />
            <span class="address-item">
                <img src="../img/mail.png" alt="Email" class="address-icon" /> Transport@gmail.com
            </span>
        </div>
    </footer>
</body>

</html>