<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Header.css"> <!-- Link to the CSS file -->
    <title>Transport Header</title>
</head>

<body>
    <header class="header">
        <a href="/" aria-label="Homepage">
            <img id="logo" src="../img/logistics.png" alt="Transport Logo" />
        </a>
        <h1>
            <a href="/" class="header-title">Transport</a>
        </h1>
        <nav class="navigation" aria-label="Main Navigation">
            <span class="nav-item">
                <a href="/create" class="nav-link">Sign Up</a>
            </span>
            <span class="nav-item">
                <a href="/login" class="nav-link">Sign In</a>
            </span>
        </nav>
    </header>
</body>

</html>
