<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="./css/Menu.css"> <!-- Link to CSS for styling -->
</head>

<body>

    <nav class="menu visible" role="navigation">
        <div class="menu-item">
            <a href="/profile" class="menu-link">
                <img src="../img/user.png" alt="Profile Icon" class="menu-icon" />
                Profile
            </a>
        </div>
        <div class="menu-item">
            <a href="/entry" class="menu-link">
                <img src="../img/entry.png" alt="Entry Icon" class="menu-icon" />
                Entry
            </a>
        </div>
        <div class="menu-item">
            <a href="/report" class="menu-link">
                <img src="../img/report.png" alt="Report Icon" class="menu-icon" />
                Report
            </a>
        </div>
    </nav>

</body>

</html>
